#SERVER Config File 
NODE_ENV  = dev
DEV_PORT =  3030
PROD_PORT = 8080

#DB Config File

DB_HOST = localhost
DB_USER = postgres
DB_PASSWORD = admin
DB_NAME = clumps_crm 
DB_PORT = 5432  #default port for postgres

